@use '../_global';
@use "../mixins";
@use "../prefix-vars";

// Absolute Header
body {
    &:not(.admin-bar) {
        #{prefix-vars.$themePrefix} {
            &-header {
                #{prefix-vars.$varPrefix}-t: 0;
            }
        }
    }
}

//Theme CSS

#{prefix-vars.$themePrefix} {

    //Absolute Header
    &-header {
        #{prefix-vars.$varPrefix}-pos: absolute;
        #{prefix-vars.$varPrefix}-t: var(--wp-admin--admin-bar--height);
        #{prefix-vars.$varPrefix}-l: 0;
        #{prefix-vars.$varPrefix}-r: 0;
        #{prefix-vars.$varPrefix}-z-idx: 9;
    }

    // Hero Banner
    &-hero {
        &-banner {
            #{prefix-vars.$varPrefix}-pos: relative;

            @include mixins.respond-below(md) {
                min-height: 60vh !important;
            }

            &-content {
                #{prefix-vars.$varPrefix}-pos: relative;
                #{prefix-vars.$varPrefix}-z-idx: 2;
            }

            &--img {
                @include mixins.respond-above(md) {
                    #{prefix-vars.$varPrefix}-pos: absolute;
                    #{prefix-vars.$varPrefix}-b: 0px;
                    #{prefix-vars.$varPrefix}-r: 20px;
                }

                @include mixins.respond-above(lg) {
                    width: 40%;
                }

                @include mixins.respond-between(md, lg) {
                    .wp-block-image {
                        img {
                            width: 600px !important;
                        }
                    }
                }
            }
        }
    }

    //Global Height & Width
    &-is-h-w {
        &-40 {
            $hw40: 40px;
            #{prefix-vars.$varPrefix}-h: $hw40;
            #{prefix-vars.$varPrefix}-w: $hw40;
        }

        &-70 {
            $hw70: 70px;
            #{prefix-vars.$varPrefix}-h: $hw70;
            #{prefix-vars.$varPrefix}-w: $hw70;
        }
    }

    //Global SVG Color and Spacing

    &-pos-sty {
        &-1 {
            #{prefix-vars.$varPrefix}-pos: relative;
        }

        &-cont {
            #{prefix-vars.$varPrefix}-pos: absolute;
            #{prefix-vars.$varPrefix}-b: -30px;
            #{prefix-vars.$varPrefix}-r: 30px;

            &-1 {
                #{prefix-vars.$varPrefix}-pos: absolute;
                #{prefix-vars.$varPrefix}-b: 0;
                #{prefix-vars.$varPrefix}-r: 50px;

                @include mixins.respond-below(md) {
                    .wp-block-image {
                        img {
                            width: 150px !important;
                        }
                    }
                }

                @include mixins.respond-between(md, lg) {
                    .wp-block-image {
                        img {
                            width: 300px !important;
                        }
                    }
                }
            }
        }
    }
}